<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feed_aggregator.name %>
</p>

<%= link_to 'Edit', edit_feed_aggregator_path(@feed_aggregator) %> |
<%= link_to 'Back', feed_aggregators_path %>
